<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7hJMvgD9CkBucCsSno5pb5UoH9oSty_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1061834335290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.customeMobile</string>
	<key>PROJECT_ID</key>
	<string>sari-a30f3</string>
	<key>STORAGE_BUCKET</key>
	<string>sari-a30f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061834335290:ios:8bdf2846fc9330b9170103</string>
</dict>
</plist>